body{
  background-color: lightcyan;
}
.jumbotron{
  border:1px solid black;
  margin: 10px;
  text-align: center;
}
.sort{
  display: block;
  width: 200px
}

iframe{
  width: 100%;
}
.vid-container{
  display: block;
  width: 50%;
  height: 50%;
}
