body{
  background-color: lightcyan;
}
.jumbotron{
  border:1px solid black;
  margin: 10px;
  text-align: center;
}
.sort{
  display: block;
  width: 200px
}

iframe{
  width: 100%;
}
.vid-container{
  display: block;
  width: 50%;
  height: 50%;
}
.sortForm{
  margin: 10px;
  text-align: center;
}
.form-control{
  margin: 10px;
  text-align: center;
  width: 80%;
}
#card{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-bottom: 10px;
}
.card-body{
  text-align: center;
  
}
.card-title{
  color: brown;
}
